#container{
	width: 100%;
}

body {
	background-image:url(../images/pg1background.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	width:970px;
	height:100%;
	padding:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom: 0px;
	background-image:
}
#logo {
	
	
	text-align: center;
	margin-left:0px;
	padding-top: %;
	margin-top:10px;
}
#step1 {
	background-image: url(../images/background1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-right: 0px
	margin-right:50px;
	padding:0px;
	padding-top:90px;
	text-align: center;
	float:left;
	width: 1100px;
	height:100%;
	margin-top:20px;
	margin-bottom: 0px;
	background-image: fixed;
}
#step2 {
	background-image: url(../images/background2.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-right: 0px
	margin-right:0px;
	padding:0px;
	padding-bottom: 0px;
text-align: center;
	float:left;
	width: 1100px;
	margin-top:0px;
	height:100%;
}

#step3 {
	background-image: url(../images/background3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-right: 0px
	padding:0px;
	margin-right:0px;
	padding-left:0px;
	text-align: center;
	float:left;
	width: 1100px;
	height:100%;
	margin-top:0px;
}



#funimage{
	margin-top:50px;
	margin-bottom:0px;
	margin-left:50px;
}
#foodImage{
	margin-top: 0px;
	margin-left:200px;
	margin-right:0px;
	padding-left:;
	text-align: right;
}
#restaurants{
	
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	background-image:;
	background-size: 0px;
	background-repeat:no-repeat;
}
#venueChoices {
	margin-left: 50px;
	margin-top:0px; 
	margin-bottom: 0px;
	margin-right: 0px;
	text-align: center;
	padding-bottom: 0px;
	background-image:
	background-size: 0px;
	background-repeat:no-repeat;
}


#logoRow {
	margin-top:0%;
	margin-left:100px;
	text-align: center;
}

#resultimage{
	background-image:url(../images/dish_theatre.png);
	background-repeat: no-repeat;	
	width:100%;
	height:400px;
	margin-top: 100px;
	}

#funResult {
	margin-top:0%;
	margin-left:0px;
	background-color: ;
}
	#foodResult {
	margin-top:0%;
	margin-left:0px;
	background-color: ;
	
}
#formRow {
	margin-left: 30%;
	}

#form-group {
	margin-left: 30%;
	}
.form-control {
	width:300px !important;
}
	.form-horizontal {
	margin-bottom: 50px;
}
#clickButton {
	margin-left: 18%;


}
#fsquareResults {
	padding-top: 30px; 					
	color: white;
	border-bottom:	solid 1px white;
}
#fsquareResults img {
	color: white;
	border:	solid 4px #1e90ff;
	/*padding: 10px;*/
	width: 80%;
}
