body {
	background-image:url(../images/2.jpg);
	background-size:cover;	
}
#logoRow {
	margin-top:22%;
	margin-left:45%;
}
#formRow {
	margin-left: 35%;
}
.form-control {
	width:300px !important;
}
#clickButton {
	margin-left: 18%;
}