body {
	width:100%;
}
#container{
	width: 100%;
}
#loginPage {
	background-image:url(../images/pg1background.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:650px;
	margin-top:0px;
	margin-bottom: 0px;
	background-image:

}
#logo {
	margin-left:0px;
	padding-top: 5%;
	margin-top:10px;
}
#step1 {
	background-image: url(../images/background1.jpg);
	background-size: cover;
	text-align: center;
	width: 100%;
	height:700px;
	margin-bottom: 0px;
	background-image: fixed;
}
#step2 {
	background-image: url(../images/background2.jpg);
	background-size: cover;
	text-align: center;
	width: 100%;
	height:700px;
	background-image: fixed;
}
#step3 {
	background-image: url(../images/background3.jpg);
	background-size: cover;
	padding-right: 0px
	margin-right:0px;
	padding:0px;
	padding-bottom: 0px;
	text-align: center;
	width: 100%;
	height:700px;
}
#funimage{
	margin-top:50px;
	margin-left:40%;
	background-image: url(../images/theatrefaces.png);
	background-size: 500px, 600px; 
	width:600px;
	height:350px;
	background-repeat:no-repeat;
	position:relative;
}
#foodImage{
	margin-top: 5%;
	margin-left:30%;
	margin-right:0px;
	padding-bottom:0px;
	text-align: right;
	background-image: url(../images/dishorange.png); 
	background-size:500px,450px;
	background-size:cover;
	width:600px;
	height:350px;
}
#restaurants{
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-left:0px;
	background-image:;
	background-size: 0px;
	background-repeat:no-repeat;
}
#venueChoices {
	margin-left: 50px;
	margin-top:0px; 
	margin-bottom: 0px;
	margin-right: 0px;
	text-align: center;
	padding-bottom: 0px;
	background-image:
	background-size: 0px;
	background-repeat:no-repeat;
}
#logoRow {
	margin-top:0%;
	margin-left:40px;
	text-align: center;
}

#resultimage{
	background-image:url(../images/dish_theatre.png);
	background-repeat: no-repeat;	
	width:100%;
	height:400px;
	margin-top: 10%;
	margin-left: 20%;
	
}

#funResult {
	margin-top:0%;
	margin-left:0px;
	background-color: ;
}
#foodResult {
	margin-top:0%;
	margin-left:0px;
}

#formRow {
	margin-left: 39%;
}

#form-group {
	/*margin-left: 40%;*/
	opacity: 0.9;
    background-color: #F5EFDF;
}
.form-control {
	width:300px !important;
	opacity: 0.9;
    background-color: #F5EFDF;
}
.form-control:focus {
	border-color:#ccc !important;
	box-shadow:none !important;
}
.form-horizontal {
	margin-bottom: 50px;
}
#clickButton {
	margin-left: 14%;
	border:none !important;
	background-color: #DA552C;
	color:#F5EFDF;
}

#clickButton:hover {
	opacity:0.8;
}
#fsquareResults {
	position:absolute;
	top: 900px;				
}
#fsquareResults img {
	color: white;
	border:solid 10px #DA552C;
	/*padding: 10px;*/
	width: 80%;
}
#fsquareResults h3 {
	color:#8C3E18;
	margin-bottom: 1px;
}
#fsquareResults p {
	color:#8C3E18;
	margin:0px !important;
}
#fsquareEventResults {
	color: white;
	border:solid 10px #DA552C;
	width: 100%;
}
#fsquareEventResults h3 {
	color:#8C3E18;
}
#fsquareEventResults p {
	color:#8C3E18;
	margin:0px !important;
}
#venueChoices {
	margin-top: 20%;
}
#foodChoices {
	margin-bottom: 10px;
}
#priceChoices {
	margin-bottom: 10px;
}
#submitQuery {
	margin-left: 98%;
	background-color: #DA552C;
	color:#F5EFDF;
	border:none !important;
}
#submitQuery:focus {
	box-shadow: none !important;
}
#submitQuery:hover {
	opacity:0.8;

}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none !important;
}
.btn .btn-info .Select {
	background-color: #DA552C;
	color:#F5EFDF;
	border:none !important;
}
.btn-info {
	border:none !important;
	background-color: #DA552C !important;
	color:#F5EFDF !important;
}
.btn:hover {
	opacity:0.8;
}
#eventChoices {
	margin-top: 20%;
	margin-bottom:10px;
	margin-left: 85%;
}
#submitEventQuery {
	background-color: #DA552C;
	color:#F5EFDF;
	border:none !important;
	margin-left: 166%;
}
#submitEventQuery:hover {
	opacity:0.8;
}

nav {
	height: 60px;
}
#Footercolumn {
    float:left;
    text-align: left;
    margin-left: 2%;
}
#Footercolumn h3 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 21px;
	color: #DA552C;
}
#Footercolumn2 {
	text-align:left;
	float:right;
}
.navbar-default {
	background-color:#F5EEDE !important;
}
#social {
	align:right;
	float:left;
	margin-top: 3%;
	margin-left: 20%;

}

